@(worlds: java.util.List[elastic.models.World])

@main(title = "PlayFramework SpringData Elasticsesarch Plugin by @SebasthSeppel &amp; @unterstein") {

    <div class="container">
        <div class="content">
            <div class="page-header">
                <h2>PlayFramework and Spring Data Elasticsearch</h2>
            </div>
            <div class="row">
                <div>
                    <fieldset>
                        <legend>Here are some objects/relations we just created</legend>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            @for(world <- worlds) {
                                <tr>
                                    <td>@world.id</td>
                                    <td>@world.name</td>
                                    <td>@world.moons</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                        <legend>And the path from @worlds.get(0).name to @worlds.get(worlds.size -1).name</legend>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

}
